extends components/layout

block page-title
    | About

block page

    section.spage-top.spage-top--about
        .main

            .spage-top__content
                h1.spage-top__title About our company

                .spage-top__img.spage-top__img--about
                    img(src="/images/about-head.png" alt="")

    section.about-content
        .main

            section.about-desc.about-content__desc
                .about-desc__img
                .about-desc__text
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in
                    p voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

            section.team.about-content__team
                h2.blocks-title.team__title Our team

                .team__members

                    .team__member
                        .team__photo(style="background-image: url('/images/member.png')")
                        .team__fio Mitch Bacon
                        .team_position Senior Vice President

                    .team__member
                        .team__photo(style="background-image: url('/images/member.png')")
                        .team__fio Mitch Bacon
                        .team_position Senior Vice President

                    .team__member
                        .team__photo(style="background-image: url('/images/member.png')")
                        .team__fio Mitch Bacon
                        .team_position Senior Vice President
