extends layout

block page-title
    | Main

block page

    .index-top
        .main

            .index-top__content
                h1.index-top__title Deliverability
                .index-top__desc We're field experts in email and take deliverability seriously. Our technology is designed to help you achieve optimum inbox placement
                button.btn.btn--top.index-top__btn Learn more

                .index-top__img
                    img(src="/images/index-top-all.png" alt="")
