extends components/layout

block page-title
    | Main

block page

    section.index-top
        .main

            .index-top__content
                h1.index-top__title Deliverability
                .index-top__desc We're field experts in email and take deliverability seriously. Our technology is designed to help you achieve optimum inbox placement
                button.btn.btn--top.index-top__btn Learn more

                .index-top__img
                    img(src="/images/index-top-all.png" alt="")

    section.index-content
        .main
            h2.blocks-title.index-content__block-title Our Services

        .index-content__blocks

            .two-blocks.index-content__two-blocks
                a(name="deliverability").anchor
                .two-blocks__left.two-blocks__img.two-blocks__img--left
                    .two-blocks__left-content
                        .img-index
                            img(src="/images/Deliverability2.png" alt="").img-index__img.img-index__img--1
                .two-blocks__right.two-blocks__text.two-blocks__text--right
                    .two-blocks__right-content
                        h3.two-blocks__title DELIVERABILITY
                        p.two-blocks__p Getting your email delivered to the inbox requires more than just hitting send. Inbox placement and reputation impact the success or failure of your email marketing programs and ultimately your email return on investment. We help email marketers maximize subscriber reach by ensuring emails get to the inbox. We help email marketers maximize subscriber reach by ensuring emails get to the inbox.
                        button.btn.btn--content.two-blocks__btn Learn more

            .two-blocks.index-content__two-blocks
                a(name="optimization").anchor
                .two-blocks__left.two-blocks__text.two-blocks__text--left
                    .two-blocks__left-content
                        h3.two-blocks__title OPTIMIZATION
                        p.two-blocks__p Getting your email delivered to the inbox requires more than just hitting send. Inbox placement and reputation impact the success or failure of your email marketing programs and ultimately your email return on investment. We help email marketers maximize subscriber reach by ensuring emails get to the inbox. We help email marketers maximize subscriber reach by ensuring emails get to the inbox.
                        button.btn.btn--content.two-blocks__btn Learn more
                .two-blocks__right.two-blocks__img.two-blocks__img--right
                    .two-blocks__right-content
                        .img-index
                            img(src="/images/Optimization.png" alt="").img-index__img.img-index__img--2

            .two-blocks.index-content__two-blocks
                a(name="client_services").anchor
                .two-blocks__left.two-blocks__img.two-blocks__img--left
                    .two-blocks__left-content
                        .img-index
                            img(src="/images/Client_services.png" alt="").img-index__img.img-index__img--3
                .two-blocks__right.two-blocks__text.two-blocks__text--right
                    .two-blocks__right-content
                        h3.two-blocks__title Client services
                        p.two-blocks__p Getting your email delivered to the inbox requires more than just hitting send. Inbox placement and reputation impact the success or failure of your email marketing programs and ultimately your email return on investment. We help email marketers maximize subscriber reach by ensuring emails get to the inbox. We help email marketers maximize subscriber reach by ensuring emails get to the inbox.
                        button.btn.btn--content.two-blocks__btn Learn more

            .two-blocks.index-content__two-blocks
                a(name="optimization2").anchor
                .two-blocks__left.two-blocks__text.two-blocks__text--left
                    .two-blocks__left-content
                        h3.two-blocks__title OPTIMIZATION
                        p.two-blocks__p Getting your email delivered to the inbox requires more than just hitting send. Inbox placement and reputation impact the success or failure of your email marketing programs and ultimately your email return on investment. We help email marketers maximize subscriber reach by ensuring emails get to the inbox. We help email marketers maximize subscriber reach by ensuring emails get to the inbox.
                        button.btn.btn--content.two-blocks__btn Learn more
                .two-blocks__right.two-blocks__img.two-blocks__img--right
                    .two-blocks__right-content
                        .img-index
                            img(src="/images/Optimization2.png" alt="").img-index__img.img-index__img--4

        section.index-content-footer.index-content__footer
            .main

                h4.index-content-footer__title WE KNOW EMAIL
                h5.index-content-footer__subtitle We're experts in deliverability and driving results for your email marketing.
                button.btn.btn--purple.index-content-footer__btn Contact us



