extends components/layout

block page-title
    | Client services

block page

    section.artcl-top
        .main

            .artcl-top__content
                h1.artcl-top__title CLIENT SERVICES

                .artcl-top__img
                    img(src="/images/Client_services.png" alt="")

    section.artcl-content
        .main

            p.artcl-content__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            p.artcl-content__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            p.artcl-content__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum

            section.artcl-blocks.artcl-content__blocks

                .artcl-blocks__block
                    .artcl-blocks__img
                        img(src="/images/headphones.svg" alt="")
                    .artcl-blocks__desc Improve your email performance by getting in the inbox

                .artcl-blocks__block
                    .artcl-blocks__img
                        img(src="/images/screen.svg" alt="")
                    .artcl-blocks__desc Never miss an opportunity in your inbox with 24/7 reply monitoring

                .artcl-blocks__block
                    .artcl-blocks__img
                        img(src="/images/smartphone.svg" alt="")
                    .artcl-blocks__desc Protect your company with oversight from industry experts

                .artcl-blocks__block
                    .artcl-blocks__img
                        img(src="/images/collaboration.svg" alt="")
                    .artcl-blocks__desc Improve your email performance by getting in the inbox

                .artcl-blocks__block
                    .artcl-blocks__img
                        img(src="/images/computing-cloud.svg" alt="")
                    .artcl-blocks__desc Improve your email performance by getting in the inbox

                .artcl-blocks__block
                    .artcl-blocks__img
                        img(src="/images/cursor.svg" alt="")
                    .artcl-blocks__desc Improve your email performance by getting in the inbox














