@mixin w-1290() {
    @media screen and (max-width: $w-1290) {
        @content;
    }
}

@mixin w-1200() {
    @media screen and (max-width: $w-1200) {
        @content;
    }
}

@mixin w-960() {
    @media screen and (max-width: $w-960) {
        @content;
    }
}

@mixin w-768() {
    @media screen and (max-width: $w-768) {
        @content;
    }
}

@mixin w-767() {
    @media screen and (max-width: $w-767) {
        @content;
    }
}

@mixin w-480() {
    @media screen and (max-width: $w-480) {
        @content;
    }
}

@mixin centered($axis: 'both', $direction: 'row') {

    display: flex;
    flex-direction: $direction;

    @if $axis == 'both' {
        justify-content: center;
        align-items: center;
    }

    @if $axis == 'x' {
        justify-content: center;
    }

    @if $axis == 'y' {
        align-items: center;
    }
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}
