.about-desc {
    // display: flex;

    &__img {
        width: rem(550);
        height: rem(385);
        // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow: hidden;

        background-image: url('/images/team.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        margin-right: rem(90);
        margin-bottom: rem(25);
        float: left;

        @include w-960 {
            width: rem(300);
            margin-right: rem(25);
        }

        @include w-480 {
            width: 100%;
            margin-right: 0;
            height: rem(180);
        }
    }

    &__text {
        flex: 1;

        color: $text-color;
        font-size: rem(20);
        font-weight: 300;
        line-height: rem(30);

        p {
            margin-bottom: rem(20);
        }
    }
}
