.artcl-top {
    background:
        linear-gradient(19.39deg, #0079A7 7.34%, #0F7FAA 15.06%, #017CAB 33.36%, #068DC2 59.07%, #00B1F5 85.92%);
    background-image: url('/images/header-bottom.svg'), url('/images/top1.png');
    background-position: center bottom, right top;
    background-repeat: no-repeat;
    background-size: contain, cover;

    height: 100vh;
    min-height: rem(650);
    padding-top: rem(162);
    padding-bottom: rem(160);

    color: white;

    overflow: hidden;

    @include w-960 {
        height: 90vw;
        min-height: 90vw;
    }

    .main, &__content {
        height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    &__img {
        position: absolute;
        top: 50%;
        right: 60%;
        transform: translateY(-50%);
    }

    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: rem(60);
        line-height: rem(82);
        text-transform: uppercase;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);

        @include w-960 {
            font-size: 6vw;
        }
    }
}
