.footer {
    &__top {
        background-color: #E1E4E7;
    }

    &__top-content {
        padding: rem(42) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include w-767 {
            flex-direction: column;
        }
    }

    &__nav {
        @include w-767 {
            margin-bottom: rem(30);
        }
    }

    &__socials {
        display: flex;

        & > a:not(:first-child) {
            margin-left: rem(25);

            @include w-410 {
                margin-left: rem(15);
            }
        }
    }

    $bottom-text-col: #E1E1E1;
    &__bottom {
        background-color: #5B5B5B;
    }

    &__bottom-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: rem(72);
        color: $bottom-text-col;
        font-size: rem(18);
        font-weight: 300;

        @include w-767 {
            height: auto;
            flex-direction: column;
            padding: rem(20) 0;
        }
    }

    &__license {
        @include w-767 {
            order: 2;
            text-align: center;
            font-size: rem(12);
        }
    }

    &__call-tel {
        display: flex;
        align-items: center;

        color: $bottom-text-col;
        text-decoration: none;

        span:first-of-type {
            margin-left: rem(14);
        }

        span:last-of-type {
            margin-left: rem(29);
        }

        &:hover {
            span:last-of-type {
                text-decoration: underline;
            }
        }

        @include w-767 {
            order: 1;
            margin-bottom: rem(20);
        }
    }
}
