.index-content-footer {
    text-align: center;
    color: $text-color;

    &__title {
        font-size: rem(32);
        line-height: rem(44);
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: rem(32);
        line-height: rem(44);
        font-weight: 300;

        margin-bottom: rem(42);

        @include w-410 {
            font-size: rem(20);
            margin-bottom: rem(30);
        }
    }

    &__btn {
        margin: 0 auto;
    }
}
