.index-content {
    position: relative;
    padding-bottom: rem(94);

    @include w-960 {
        padding-bottom: rem(80);
    }

    &__block-title {
        // margin-bottom: rem(96);
    }

    &__two-blocks {
        &:first-child {
            margin-top: rem(100);
        }
        &:not(:first-child) {
            margin-top: rem(230);
        }

        @include w-1200 {
            margin-top: rem(100) !important;
        }

        @include w-960 {
            margin-top: rem(55) !important;
        }
    }

    &__footer {
        margin-top: rem(150);

        @include w-960 {
            margin-top: rem(80);
        }
    }
}
