.nav {
    $col: #FFFDFD;

    &__ul {
        display: flex;
        list-style: none;
    }

    &__li {
        position: relative;

        &:not(:first-child) {
            margin-left: rem(90);
        }

        &::after {
            content: ' ';
            display: block;
            position: absolute;
            bottom: rem(-8);
            left: 0;
            right: 0;
            height: 2px;
            background-color: $col;

            opacity: 0;
            transition: all .25s;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }

    &__link {
        color: $col;
        text-decoration: none;
        font-size: rem(24);
        font-weight: 300;
        line-height: rem(33);
    }
}
