.spage-top {
    background: linear-gradient(95.05deg, #0178A5 1.24%, #00B2F5 99.81%);
    overflow: hidden;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        height: rem(553);

        color: white;

        @include w-960 {
            height: 80vw;
        }
    }

    &__title {
        font-size: rem(55);
        line-height: rem(75);

        @include w-640 {
            font-size: 8vw;
        }
    }

     &__img {
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        &--about {
            bottom: rem(-160);

            @include w-960 {
                bottom: rem(-100);
            }

            @include w-640 {
                bottom: rem(-50);
            }
        }

        &--contact {
            bottom: rem(-200);

            @include w-960 {
                bottom: rem(-130);
            }

            @include w-640 {
                bottom: rem(-70);
            }
        }
    }
}
