.spage-top {
    background: linear-gradient(95.05deg, #0178A5 1.24%, #00B2F5 99.81%);

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        height: rem(553);

        color: white;
    }

    &__title {
        font-size: rem(55);
        line-height: rem(75);
    }

     &__img {
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        &--about {
            bottom: rem(-160);
        }

        &--contact {
            bottom: rem(-200);
        }
    }
}
