.subnav {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(50);

    opacity: 0;
    pointer-events: none;
    transition: all .5s;
    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    border-top: 4px solid #00A7E6;

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 20px 20px;
    padding: rem(24);

    &__li {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: rem(20);
        }

        @include w-767 {
            justify-content: center;

            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__img {
        width: rem(35);
        margin-right: rem(16);

        @include w-767 {
            display: none;
        }
    }

    &__link {
        color: $text-color;
        text-transform: uppercase;
        font-size: rem(24);
        font-weight: 300;
        line-height: rem(33);
        white-space: nowrap;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        @include w-767 {
            font-size: rem(14);
            line-height: rem(19);
        }
    }

    @include w-767 {
        position: static;
        height: 0;
        padding: 0;

        background: none;
        box-shadow: none;
        border-radius: 0 0 0 0;
        border-top: 0px;
        width: 100%;
        transform: translateX(0);

        &.active {
            height: auto;
            margin-top: rem(20);
        }
    }
}
