.team {

    color: $text-color;

    &__title {
        // margin-bottom: rem(54);
    }

    &__members {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__member {
        margin: rem(10);
        margin-top: rem(54);

        text-align: center;

        @include w-480 {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            width: 100%;
        }
    }

    &__photo {
        width: rem(400);
        height: rem(400);
        border-radius: 10px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include w-480 {
            width: calc(100vw - 5%);
            height: 100vw;
        }
    }

    &__fio {
        font-size: rem(32);
        line-height: rem(44);
        font-weight: 300;

        margin-top: rem(20);
    }

    &__position {
        font-size: rem(20);
        line-height: rem(27);
        font-weight: 300;

        margin-top: rem(8);
    }
}
